
html, body {
    font-family: Cambria;
    width: 100%;
    height: 100%;
    background-color: #ccdddd;
}

main#home {
    background-color: white;

}

.carregando{
    color: whitesmoke;
    display:none;
}

.cad {
    top: 30px;
}

.text_home {
    font-size: 1.3em;
    text-align: center;
}

img#fluxo {
    width: 100%;

}

#novo_idioma {
    display: none;
}

.professional_anterior {
    display: none;
}

.professional_atual {
    display: block;
}

.deficiencia {
    display: none;
}

.adaptacao {
    display: none;
}

#titulo_home{
    margin-top: auto;
    text-align: center;
    font-size: 30px;
    color:#017ebc;
    font-style: normal;

}

.obrigatorio{
    color: red;
}

.form {
    color: white;
}

.form_actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form_actions button {
    order: 1;
    outline: none;
}

.container_footer {
    width: auto;
    max-width: 680px;
}

.form_register_action {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 2px solid #888888;
    color: #ffffff;
}

.form_register_action p {
    font-size: 0.875em;
}

/*DEFAULT LOAD*/
.ajax_load {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
}

.begin {
    width: 150px;
    margin: auto;
    padding: 10px 7px;
    font-weight: bold;
}

.begin:hover{
    color: white;
    border-radius: 15px;
    margin: auto;
    padding: 10px 7px;
    font-weight: bold;
    transition: all .23s ease-in-out;
}

.hover:hover{
    border-radius: 15px;
    height: inherit;
    margin: auto;
    font-weight: bold;
    transition: all .23s ease-in-out;
}

a.link_forgot {
    float: left;
    color: #888888;
    font-weight: bold;
    font-size: 0.950em;
    text-transform: capitalize;

}

.brand {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: bolder;
}
.brand:hover{
    text-decoration: none;
    color: gainsboro;
}

.link_navebar {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    font-weight: bolder;
}

.link_footer {
    text-decoration: none;
    color: silver;
    font-size: 1.3em;
    font-weight: bolder;
}

.link_footer:hover{
    text-decoration: none;
    color: gainsboro;
}

.link_options {
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

.link_options:hover{
    text-decoration: none;
    color: silver;
}

.link_btn {
    border-radius: 20px;
    color: white;
    padding: 0.5rem 1rem;
    font-weight: bold;
    transition: all .23s ease-in-out;
}

.link_start {
    padding: 0.9rem 1.4rem;
    font-size: 1.30rem;
    line-height: 1.5;
    background-color: orangered;
}

.link_start:hover {
    border-radius: 30px;
}

.link_btn:hover{
    text-decoration: none;
    color: gainsboro;
}

.link:hover{
    text-decoration: none;
    color: gainsboro;
}

.link_register{
    background-color: orangered;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

@media only screen and (max-width: 600px) {
    .banner-title {
        font-size: 35px;
    }
    .banner-subtitle {
        font-size: 25px;
    }
}

.page_error{
    color: #062c33;
    width: 600px;
    margin: 15% auto auto auto;
    max-width: 100%;
    text-align: center;
    top: 50%

}

/*----Botões Social----*/

.cor_windows{
    background-color: #007bff;
    color: white
}

.cor_google{
    background-color: #ef1047;
    color: white
}

.cor_yahoo{
    background-color: #4B0082;
    color: white
}

.img-circle {
    width: 200px;
    height: inherit;
    padding: 4px;
    border-radius: 50%;
    max-width: 100%;
    padding: 0.80rem 1.35rem
}

.img_brand {
    width: 35px;
    height: inherit;
    padding: 1px;
    border-radius: 50%;
    max-width: 100%;
}

input[type="file"] {
    display: none;
}
label#userphoto {
    padding: 10px 10px;
    width: 150px;
    background-color: #007bff;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: 10px;
    cursor: pointer;
    font-size: 1em;
}

input.form-control,
textarea.form-control,
select.form-control{
    background-color: #1C1F27;
    border-color: #4b4b4b;
    color: #ffffff;
}

input.form-control:focus,
textarea.form-control:focus,
select.form-control:focus{
    background-color: #1C1F27;
    color: #ffffff;
}

input.search,
select.search{
    background-color: #ffffff;
    color: #1C1F27;
    border: none;
}

input.search:focus,
select.search:focus{
    background-color: #ffffff;
    color: #1C1F27;
    border: none;
}

#formacao, #sexo,#deficiencia, #conhecimento,#idiomas {
    display: none;
}

.fundo_login{
    width: 100%;
    background-repeat: no-repeat;
    background-image: url("/views/assets/images/fundo_login.jpg");
}
/* TAMANHO DA SECTION DO BANNER DESCONSIDERANDO O TAMANHO DO NAVBAR */
.section-banner {
    height: calc(110vh - 60px);
}

#fundo_login {
    width: 100%;
    height: 100%;
    background-image: url("/views/assets/images/fundo_login.jpg");
}

.dashboard-text {
    position: absolute;
    width: 100%;
    top: 100px;
    text-align: center;
}

.banner-img {
    width: 100%;
    height: inherit;
    opacity: 0.75;
}

.banner-text {
    position: absolute;
    width: 100%;
    height: inherit;
    top: 56px;
    text-align: center;
    display: grid;
}

.banner-group-1 {
    height: calc(50vh - 28px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-group-2 {
    height: calc(54vh - 28px);
    display: grid;
}

.banner-title {
    font-size: 55px;
    font-weight: 500;
}

.banner-subtitle {
    font-size: 35px;
    font-weight: 400;
}


.form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: inherit;
    top: 20px;
}

.cad-content {
    position: relative;
    top: 100px;
}
/*.alert_message {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: inherit;*/
/*    top: 70px;*/
/*}*/

.card-search {
    color: #3c763d;
    border: 1px;
}

.card-forgot {
    min-width: 400px;
    height: 220px;
    background-color: #272a31;
    border-radius: 20px;
}

.card-header-forgot {
    width: inherit;
    height: 20%;
    border-bottom: 1px solid #4b4b4b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-register {
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
}

.card-header-img {
    width: inherit;
    height: 15%;
    border-bottom: none;
    color: #0062cc;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-header {
    width: 100%;
    height: 15%;
    /* border: 1px solid #ffffff; */
    border-bottom: 1px solid #4b4b4b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-cad {
    width: 100%;
    height: 15%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body {
    width: inherit;
    height: 70%;
    padding: 20px 30px;
}

.footer-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group-text {
    background-color: #1C1F27;
    color: #ffffff;
    border-color:#4b4b4b;
}


#nome_social {
    background-color: #4b4b4b;
}


/*---- Sobrescrevendo classe ---------*/
.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 20px;

}


.card {
    border-radius: 20px;
}

/*!
* Bootstrap v3.4.1 (https://getbootstrap.com/)
* Copyright 2011-2019 Twitter, Inc.
* Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
*/
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
    color: #3c763d;
}
.has-success .form-control {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-success .form-control:focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
.has-success .input-group-addon {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #3c763d;
}
.has-success .form-control-feedback {
    color: #3c763d;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
    color: #a94442;
}
.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.has-error .input-group-addon {
    color: #a94442;
    background-color: #f2dede;
    border-color: #a94442;
}
.has-error .form-control-feedback {
    color: #a94442;
}

