
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main#home {
    background-color: white;
}

main#register {
    background-color: #007aff;
}

.text_home {
    font-size: 1.3em;
    text-align: center;
}

img#fluxo {
    width: 100%;

}


#novo_idioma {
    display: none;
}

.professional_anterior {
    display: none;
}

.professional_atual {
    display: block;
}

.deficiencia {
    display: none;
}

.adaptacao {
    display: none;
}

#titulo_home{
    margin-top: auto;
    text-align: center;
    font-size: 30px;
    color:#017ebc;
    font-style: normal;

}

.obrigatorio{
    color: red;
}

.page {
    color: #ffffff;
    margin: 10% auto auto auto;
    text-align: center;
}

.page_error{
    color: #062c33;
    width: 400px;
    margin: 15% auto auto auto;
    max-width: 100%;
    text-align: center;

}

.form {
    color: black;
}

.form_actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form_actions button {
    order: 1;
    outline: none;
}

.brand {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: bolder;
}
.brand:hover{
    text-decoration: none;
    color: gainsboro;
}

.link_navebar {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    font-weight: bolder;
}

.link_footer {
    text-decoration: none;
    color: silver;
    font-size: 1.3em;
    font-weight: bolder;
}

.link_footer:hover{
    text-decoration: none;
    color: gainsboro;
}

.link_options {
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

.link_options:hover{
    text-decoration: none;
    color: silver;
}

.web_footer {
    position:relative;
    padding-bottom: 1.6rem;
    bottom:0;
    width:100%;
    text-align: center;
    background-color: #343a40 !important;
}

.form_register_action {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 2px solid #888888;
    color: #ffffff;
}

.form_register_action p {
    font-size: 0.875em;
}

/*DEFAULT LOAD*/
.ajax_load {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
}

a#iniciar {

    display: block;
    width: 20%;
    margin: auto;
    padding: 10px 7px;
    font-weight: bold;
}

a:hover#iniciar {
    background-color:  #409cff;
    border-color: #409cff;
    width: 19%;
    border-radius: 15px;
    display: block;
    margin: auto;
    padding: 10px 7px;
    font-weight: bold;
    transition: all .23s ease-in-out;
}

a:hover#iniciar {
    color: white;
}

a.link_forgot {
    float: left;
    color: #888888;
    font-weight: bold;
    font-size: 0.950em;
    text-transform: capitalize;

}

.link_btn {
    border-radius: 20px;
    color: white;
    font-weight: bold;
    transition: all .23s ease-in-out;
}

.link_btn:hover{
    text-decoration: none;
    color: gainsboro;
}

.link:hover{
    text-decoration: none;
    color: gainsboro;
}

.link_register{
    background-color: orangered;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/*----Botões Social----*/

.cor_windows{
    background-color: #007bff;
    color: white
}

.cor_google{
    background-color: #ef1047;
    color: white
}

.cor_yahoo{
    background-color: #4B0082;
    color: white
}

.img-circle {
    width: 150px;
    height: 150px;
    padding: 4px;
    border-radius: 50%;
    max-width: 100%;
}

input[type="file"] {
    display: none;
}
label#userphoto {
    padding: 10px 10px;
    width: 150px;
    background-color: #007bff;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: 10px;
    cursor: pointer;
    font-size: 1em;
}

.fundo_login{
    width: 100%;
    background-repeat: no-repeat;
    background-image: url("/views/assets/images/fundo_login.jpg");
}
/* TAMANHO DA SECTION DO BANNER DESCONSIDERANDO O TAMANHO DO NAVBAR */
.section-banner {
    height: calc(110vh - 60px);
}

.banner-img {
    width: 100%;
    height: inherit;
    opacity: 0.75;
}

.banner-text {
    position: absolute;
    width: 100%;
    height: inherit;
    top: 56px;
    text-align: center;
    display: grid;
}

.banner-group-1 {
    height: calc(50vh - 28px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-group-2 {
    height: calc(54vh - 28px);
    display: grid;
}

.banner-title {
    font-size: 55px;
    font-weight: 500;
}

.banner-subtitle {
    font-size: 35px;
    font-weight: 400;
}


.form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: inherit;
    top: 20px;
}
.alert_message {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: inherit;
    top: 70px;
}

.card-login {
    min-width: 400px;
    height: 370px;
    background-color: #272a31;
    border-radius: 20px;
}

.card-register {
    min-width: 400px;
    height: 500px;
    background-color: #272a31;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.card-register-img {
    min-width: 400px;
    height: 500px;
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.card-header-img {
    width: inherit;
    height: 15%;
    border-bottom: none;
    color: #0062cc;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fundo_register {
    width: 400px;
    height: 320px;
}
.card-header {
    width: inherit;
    height: 15%;
    /* border: 1px solid #ffffff; */
    border-bottom: 1px solid #4b4b4b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title{
    font-size: 22px;
    color: #ffffff;
    margin: auto auto;
}

.card-body {
    width: inherit;
    height: 70%;
    padding: 20px 30px;
    /* border: 1px solid red; */
}

.card-footer {
    width: inherit;
    height: 15%;
    /* border: 1px solid #ffffff; */
    border-top: 1px solid #4b4b4b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group{
    margin-top: 15px;
}

.input-group:nth-child(2) {
    margin-top: 35px;
    margin-bottom: 20px;
}

.input-group-text {
    background-color: #1C1F27;
    color: #ffffff;
    border-color:#4b4b4b;
}

input.form-control {
    background-color: #1C1F27;
    border-color: #4b4b4b;
    color: #ffffff;
}

input.form-control:focus {
    background-color: #1C1F27;
    color: #ffffff;
}


.fa{
    color: white;
}

/*!
* Bootstrap v3.4.1 (https://getbootstrap.com/)
* Copyright 2011-2019 Twitter, Inc.
* Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
*/
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
    color: #3c763d;
}
.has-success .form-control {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-success .form-control:focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
.has-success .input-group-addon {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #3c763d;
}
.has-success .form-control-feedback {
    color: #3c763d;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
    color: #a94442;
}
.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.has-error .input-group-addon {
    color: #a94442;
    background-color: #f2dede;
    border-color: #a94442;
}
.has-error .form-control-feedback {
    color: #a94442;
}