{include="header"}
{include="navbar"}
<main role="main">
    <div class="dashboard-text">
        <div class="container col-md-8">
            <h1>{function="site("desc")"}</h1>
            {if="checkCurriculum()"}
            <h3>Olá -  {$curriculum.primeiro_nome} {$curriculum.sobrenome}</h3>
            {else}
            <div class="alert alert-danger">
                <h4>Gentileza Verifique se Existe Dados Obrigatórios sem Preechimento!</h4>
            </div>
            <br>
                {if="$user.id_pessoa == NULL"}
                 <a class="btn btn-primary hover" href="/user/personal_data/create" title="Verificar Curriculo"><i class="fa fa-check" aria-hidden="true"></i>Verificar Curriculo </a>
                {else}
                 <a class="btn btn-primary hover" href="/user/personal_data/update" title="Verificar Curriculo"><i class="fa fa-check" aria-hidden="true"></i>Verificar Curriculo </a>
               {/if}
            {/if}
        </div>
    </div>

</main>
{include="footer"}