{include="header"}
{include="navbar"}
<main role="main">
<form class="form" action="/curriculum/personal_data/create" method="post" autocomplete="off">
<section class="container col-md-8 cad">
    <div class="alert_message">
        {function="flash()"}
    </div>
    <div  class="card bg-dark">
        <div class="card-header">
            <h4 class="h2">Dados Pessoais</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <!-- Coluna 1 -->
                <div class="col">
                    <div class="row">
                        <p id="mens_social" class="success-disabled">
                                   *Em âmbito federal, o <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2016/decreto/D8727.htm" target="_blank">Decreto nº 8.727, de 28 de abril de 2016</a>,<br>
                                   da Presidência da República normatizou o uso do nome social
                                   pelos órgãos e entidades da administração pública federal direta, autárquica e fundacional;
                           </p>
                        <br>
                    </div>
                    <!-- Linha 1 -->
                    <div class="row">
                        <div class="form-group col-md-3">
                            <b >Usar Nome Social ?</b> <br>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="sim" name="nome_social_uso" value="Sim" class="custom-control-input">
                                <label class="custom-control-label" for="sim">Sim</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="nao" name="nome_social_uso" value="Não" class="custom-control-input" checked autofocus>
                                <label class="custom-control-label" for="nao">Não</label>
                            </div>
                        </div>
                        <div class=" col-md-6">
                            <label for="nome_social"><b>Nome Social</b></label>
                            <input type="text" class="form-control form-control-sm" id="nome_social" name="nome_social" placeholder="Nome social se Houver" disabled>
                        </div>
                        <div class="form-group col-md-3">
                            <label  for="genero"><strong class="obrigatorio">*</strong><b>Sexo</b></label>
                            <select class="form-control form-control-sm" name="genero" id="genero">
                                <option value="">Selecione</option>
                                <option value="Masculino">Masculino</option>
                                <option value="Feminino">Feminino</option>
                            </select>
                        </div>
                    </div>
                    <!-- Linha 2 -->
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="primeiro_nome"><strong class="obrigatorio">*</strong><b>Nome</b></label>
                            <input type="text" class="form-control form-control-sm" id="primeiro_nome" name="primeiro_nome" placeholder="Digite seu nome">
                        </div>
                        <div class="form-group col-md-5">
                            <label for="sobrenome"><strong class="obrigatorio">*</strong><b>Sobrenome</b></label>
                            <input type="text" class="form-control form-control-sm" id="sobrenome" name="sobrenome" placeholder="Digite seu sobrenome">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="nascimento"><strong class="obrigatorio">*</strong><b>Data de Nascimento</b></label>
                            <input type="date" class="form-control form-control-sm" id="nascimento" name="nascimento">
                        </div>
                    </div>
                    <!-- Linha 3 -->
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="nacionalidade"><strong class="obrigatorio">*</strong><b>País de Naciscimento</b></label>
                            <select class="form-control form-control-sm" id="nacionalidade" name="nacionalidade" >
                                <option value="">Selecione</option>
                                {loop="$countries"}
                                <option value="{$value.nome_pais_pt}">{$value.nome_pais_pt}</option>
                                {/loop}
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label  for="estado"><strong class="obrigatorio">*</strong><b>Estado</b></label>
                            <select class="form-control form-control-sm" name="uf_naturalidade" id="estado">
                                <option value="">Selecione</option>
                                {loop="$uf"}
                                <option value="{$value.uf}">{$value.nome_estado}</option>
                                {/loop}
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label  for="cidade"><strong class="obrigatorio">*</strong><b>Naturalidade</b></label>&nbsp;&nbsp;
                            <span class="carregando">Aguarde, carregando...</span>
                            <select class="form-control form-control-sm cidade" id="cidade" name="naturalidade" disabled>
                                <option value="">-- Selecione um estado --</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label  for="cor"><strong class="obrigatorio">*</strong><b>Cor ou Raça</b></label>
                            <select class="form-control form-control-sm" name="cor_raca" id="cor">
                                <option value="">Selecione</option>
                                <option value="Branca">Branca</option>
                                <option value="Preta">Preta</option>
                                <option value="Parda">Parda</option>
                                <option value="Indígena">Indígena</option>
                                <option value="Amarela">Amarela</option>
                                <option value="Não desejo declarar">Não desejo declarar</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="card-footer">
            <div class="float-right">
                <button class="btn btn-md btn-success">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;   Próximo <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</section>
</form>
</main>
{include="footer"}
<!--<script>-->
<!--    $(document).ready(function() {-->
<!--        $('#estado').select2();-->
<!--    });-->
<!--</script>-->

