{include="header"}
{include="navbar"}
<main role="main">
    <div class="dashboard-text">
         <div class="container col-md-8">
             <span  class="alert_message">  {function="flash()"}</span>
            <h1>{function="site("desc")"}</h1>
            {if="checkCurriculum()"}
            <h3>Olá -  {$curriculum.primeiro_nome} {$curriculum.sobrenome}</h3>
            {else}
            <h4>Finalize seu Curriculo!</h4>
            <br>
             <form class="form" action="/curriculum/curriculum/create" method="post" autocomplete="off">
                 <button class="btn btn-lg btn-success hover"><i class="fa fa-check" aria-hidden="true"></i>  Finalizar Curriculo</button>
             </form>
            {/if}
         </div>
    </div>

</main>
{include="footer"}
