{include="header"}
{include="navebar"}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h4 class="h2">Experiência Profissional {$user.primeiro_nome}</h4>
    </div>

<div class="alert_message col-md-8">
    {function="flash()"}
</div>
<div class="col-md-8">
<div  class="card border-success">
    <div class="card-body">
    <div class="row">
        <!-- Coluna 1 -->
        <div class="form-group col-md-12">
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="sim_emprego" name="registro" class="custom-control-input" value="ativo" {if="$professional.registro == 'ativo'"} checked {/if}>
                <label class="custom-control-label" for="sim_emprego">Emprego Atual</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="nao_emprego" name="registro" class="custom-control-input" value="inativo" {if="$professional.registro == 'inativo'"} checked {/if}>
                <label class="custom-control-label" for="nao_emprego">Empregos Anterior</label>
            </div>
            <hr>
        </div>
        <div class="col">
          <div class="row">
            <div class="form-inline col-md-12">
                <label><b>Empresa: </b></label>&nbsp;
                <span class="professional_atual">{$professional.empresa_atual}</span>
                <span class="professional_anterior">{$professional.empresa_anterior}</span>
            </div>
            <div class="form-inline col-md-12">
                <label><b>Cargo:  </b></label>&nbsp;
                <span class="professional_atual">{$professional.cargo_atual}</span>
                <span class="professional_anterior">{$professional.cargo_anterior}</span>
            </div>
              <div class="form-inline col-md-12">
                  <label><b>Data de Admissão: </b></label>&nbsp;
                  <span>{function="formatDate($professional.data_admissao)"}</span>
              </div>
              <div class="professional_anterior">
                  <div class="form-inline col-md-12">
                      <label><b>Data de Demissão: </b></label>&nbsp;
                      <span>{function="formatDate($professional.data_demissao)"}</span>
                  </div>
              </div>
          </div>
        </div>
        <!-- Coluna 2 -->
        <div class="col">
            <div class="col-md-12">
                <label><b>Atividade Exercida: </b></label>
                <span>{$professional.atividade}</span>
            </div>
        </div>
    </div>
    </div>
    <div class="card-footer">
          <a class="btn btn-danger float-left" href="/user/professional_experience" title="Voltar"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Voltar </a>
        <div class="float-right">
            <a class="btn btn-primary" href="/user/{$professional.id_profissional}/professional_experience/update" title="Editar"> Editar <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> </a>
        </div>
    </div>
</div>
</div>
{include="footer"}