{include="header"}
{include="navbar"}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h4 class="h2">Outros Cursos </h4>
    </div>
<section class="container col-md-8">
    <div class="alert_message">
        {function="flash()"}
    </div>
    <div class="card" style="color: black;">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="form-inline col-md-12">
                            <label><b>Curso: </b></label>&nbsp;
                            <span>{$courses.nome_curso}</span>
                        </div>
                        <div class="form-inline col-md-12">
                            <label><b>Carga Horária:  </b></label>&nbsp;
                            <span>{$courses.carga_horaria} Horas</span>
                        </div>
                        <div class="form-inline col-md-12">
                            <label><b>Instituição de Ensino: </b></label>&nbsp;
                            <span>{$courses.instituicao}</span>
                        </div>
                        <div class="form-inline col-md-12">
                            <label><b>Data de Conclusão: </b></label>&nbsp;
                            <span>{function="formatDate($courses.termino)"}</span>
                        </div>
                    </div>
                </div>
                <!-- Coluna 2 -->
                <div class="col">
                    <div class="col-md-12">
                        <label><b>Compentências aprendidas no curso: </b></label>
                        <span>{$courses.compentencias}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a class="btn btn-danger float-left" href="/user/other_courses" title="Voltar"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Voltar </a>
            <div class="float-right">
                <a class="btn btn-primary" href="/user/{$courses.id_cursos}/other_courses/update" title="Editar"> Editar <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> </a>
            </div>
        </div>
    </div>
</section>
</main>
{include="footer"}