{include="header"}
{include="navbar"}
<main role="main">
        <div class="dashboard-text">
             <div class="container col-md-8">
                 <span  class="alert_message"> {function="flash()"}</span>
                <h2>{#site("desc")#}</h2>
                 <h4>Finalize seu Curriculo!</h4>
                <form class="form" action="/curriculum/curriculum/create" method="post" autocomplete="off">
                    <div class="custom-control custom-switch" style="color: black">
                        <input type="checkbox" class="custom-control-input" name="divulgacao" id="divulgacao" value="Não" >
                        <p>
                        <label class="custom-control-label" for="divulgacao"><b>Autoriza a divulgação do seus dados?
<!--                            <a href="" target="_blank">Lei LGPD</a>-->
                        </b></label>
                    </div>
                    <p>
                    <a class="btn btn-danger begin" href="/user/professional_experience/create" title="Voltar"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Voltar </a>
                    <button class="btn btn-success begin"><i class="fa fa-check" aria-hidden="true"></i>  Finalizar</button></p>&nbsp;
                </form>
            </div>
        </div>
</main>
{include="footer"}