{include="header"}
{include="navebar"}
<main role="main">
        <section class="section-dashboard">
             <div class="dashboard-text">
                <h2>{#site("desc")#}</h2>
                <form class="form" action="/curriculum/curriculum/create" method="post" autocomplete="off">
                        <p><button class="btn btn-md btn-success hover"><i class="fa fa-check" aria-hidden="true"></i>  Finalizar Curriculo</button></p>&nbsp;
                </form>
            </div>
        </section>
        <span  class="alert_message">  {function="flash()"}</span>
</main>
{include="footer"}