{include="header"}
{include="navbar"}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
<section class="container col-md-10 cad">
<div class="alert_message">
    {function="flash()"}
</div>
<div  class="card text-dark">
    <div class="card-body">
        <div class="text-center">
            {if="$user.nome_social_uso == 'Sim'"}
            <h2>{$user.nome_social}</h2>
            {else}
            <h2>{$user.primeiro_nome} {$user.sobrenome}</h2>
            {/if}
        </div>
        <hr>
        <form  action="/curriculum/personal_data/photo" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-3">
                <label for="foto_usuario" class="user_photo" data-toggle="tooltip" data-placement="bottom" title="Clique aqui e escolha sua Foto. Gentileza usar foto com fundo Branco">
                    {if="$user.foto_usuario == 'photo_user'"}
                      <img class="image card-img-overlay" src="/views/assets/images/user/placeholder-3x4.png"  id="nova_imagem" alt="Photo">
                    {else}
                       <img class="img-circle card-img-overlay" src="{$user.foto_usuario}" id="nova_imagem" alt="Photo">
                    {/if}
                </label>
                <input type="file" name="foto_usuario" id="foto_usuario"  accept="image/*" onchange="carregarImagem(event)" required/>
            </div>
            <div class="col-4">
                <h5><b>Dados Pessoais</b></h5>
                    <label><b>Sexo: </b></label>&nbsp;
                    <span>{$user.genero}</span>
                    <span class="offset-1"></span>
                    <label><b>Cor/Raça: </b></label>&nbsp;
                    <span>{$user.cor_raca}</span>
                <br>
                    <label><b>Data de Nascimento: </b></label>&nbsp;
                    <span>{function="formatDate($user.nascimento)"}</span>
                <br>
                    <label><b>Naturalidade: </b></label>&nbsp;
                    <span>{$user.naturalidade}/{$user.uf_naturalidade} </span>
                <br>
                    <label><b>Nacionalidade: </b></label>&nbsp;
                    <span>{$user.nacionalidade} </span>
                <br>
            </div>
            <!-- Coluna 3 -->
            <div class="col-5">
                <h5><b>Endereço/Contato</b></h5>
                    <label><b>Rua/Av: </b></label>&nbsp;
                    <span>{$user.endereco}, Nº {$user.numero}</span>
                <br>
                    <label><b>CEP: </b></label>&nbsp;
                    <span>{$user.cep}</span>
                    <span class="offset-1"></span>
                    <label><b>Bairro: </b></label>&nbsp;
                    <span>{$user.bairro}</span>
                <br>
                    <label><b>Cidade: </b></label>&nbsp;
                    <span>{$user.cidade}</span>
                    <span class="offset-1"></span>
                    <label><b>Pais: </b></label>&nbsp;
                    <span>{$user.pais}</span>
                <hr/>
                    <label><b>Celular: </b></label>&nbsp;
                    <span>{$user.celular} </span>
                <br>
                    {if="$user.telefone != NULL"}
                    <label><b>Telefone: </b></label>&nbsp;
                    <span>{$user.telefone} </span>
                <br>
                    {/if}
                    <label><b>E-mail: </b></label>&nbsp;
                    <span>{$user.email} </span>
             </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-md btn-success" type="submit"><i class="fa fa-plus-circle" aria-hidden="true"></i> Registrar Foto</button>
            </div>
        </div>
        </form>
        <br>
        <div class="row">
            <div class="col-md-12">
                <form class="form" action="/curriculum/curriculum/disclosure_update" method="post" autocomplete="off">
                    <input type="hidden" name="id_curriculo" value="{$curriculum.id_curriculo}">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" name="divulgacao" id="divulgacao" value="Não" {if="$curriculum.divulgacao == 'Sim'"} checked {/if} disabled>
                        <label class="custom-control-label" for="divulgacao"><b>
                            Você{if="$curriculum.divulgacao == 'Não'"} não {/if} autorizou a divulgação do seus dados.
                            <br> <a href="https://www.gov.br/defesa/pt-br/acesso-a-informacao/lei-geral-de-protecao-de-dados-pessoais-lgpd" target="_blank">
                            Lei LGPD(Lei Geral de Proteção de Dados)</a>
                        </b></label>
                        <button class="btn btn-primary btn-sm"><i class="fa fa-arrow-circle-right"></i>
                            {if="$curriculum.divulgacao == 'Sim'"} Não {/if} Autorizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="float-right">
            <a class="btn btn-primary" href="/user/personal_data/update" title="Editar Perfil"> Editar Perfil <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> </a>
            <a class="btn btn-danger" data-toggle="modal" data-target="#ModalExcluir" href=""><i class="fa fa-trash"></i> Excluir Cadastro</a>
            <!-- Modal Excluir -->
            <div class="modal fade" id="ModalExcluir" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <p><b>Deseja realmente excluir seu Registro?</b></p>
                            <p><b>Voce será redirecionado para a Tela Inicial</b></p>
                        </div>
                        <div class="modal-footer">
                            <form class="form" action="/curriculum/curriculum/delete" method="post">
                                <button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Sim</button>
                            </form>
                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
</div>
</main>
{include="footer"}
<script>

    document.querySelector('.user_photo').addEventListener('mouseover',() => {
        document.querySelector('.user_photo').style.cursor = 'pointer';
    });

    var carregarImagem = function(){
        var reader = new FileReader();
        reader.onload = function(){

            var output = document.getElementById('nova_imagem');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    };
</script>