{include="header"}
{include="navebar"}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        {if="$user.nome_social_uso == 'Sim'"}
          <h4>{$user.nome_social}</h4>
        {else}
            <h4>{$user.primeiro_nome} {$user.sobrenome}</h4>

<!--        <a href="{#site('root')#}/curriculum/{$curriculum}" target="_blank">{#site('root')#}/curriculum/{$curriculum}</a>-->

        {/if}
    </div>

    <div class="alert_message col-md-8">
        {function="flash()"}
    </div>
<form action="/curriculum/personal_data/photo" method="post" enctype="multipart/form-data">
    <div  class="card border-success">
            <div class="card-body">
                <div class="row">
                    <!-- Coluna 1 -->
                    <div class="col-3">
                        {if="$user.foto_usuario != null"}
                        <img class="img-circle" src="{$user.foto_usuario}" id="nova_imagem" alt="Photo">
                        {else}
                        <img class="img-circle" src="/views/assets/images/user/user.png" id="nova_imagem" alt="Photo">
                        {/if}
                        <label id="userphoto" for="foto_usuario">Enviar Foto</label>
                        <input type="file" name="foto_usuario" id="foto_usuario" onchange="carregarImagem(event)"/>
                    </div>
                    <!-- Coluna 2 -->
                    <div class="col-3">
                        <div class="row"><h5>Dados Pessoais</h5></div>
                        <div class="row">
                            <label><b>Sexo: </b></label>&nbsp;
                            <span>{$user.genero}</span>
                            <span class="offset-1"></span>
                            <label><b>Cor/Raça: </b></label>&nbsp;
                            <span>{$user.cor_raca}</span>
                        </div>
                        <div class="row">
                            <label><b>Data de Nascimento: </b></label>&nbsp;
                            <span>{function="formatDate($user.nascimento)"}</span>
                        </div>
                        <div class="row">
                            <label><b>Naturalidade: </b></label>&nbsp;
                            <span>{$user.naturalidade}/{$user.uf_naturalidade} </span>
                        </div>
                        <div class="row">
                            <label><b>Nacionalidade: </b></label>&nbsp;
                            <span>{$user.nacionalidade} </span>
                        </div>
                    </div>
                    <!-- Coluna 3 -->
                    <div class="col-6">
                        <div class="row"><h5>Contato</h5></div>
                        <div class="row">
                            <label><b>Rua/Av: </b></label>&nbsp;
                            <span>{$user.endereco}</span>
                            <span class="offset-1"></span>
                            <label><b>Nº: </b></label>&nbsp;
                            <span>{$user.numero}</span>
                        </div>
                        <div class="row">
                            <label><b>CEP: </b></label>&nbsp;
                            <span>{$user.cep}</span>
                            <span class="offset-2"></span>&nbsp;&nbsp;
                            <label><b>Bairro: </b></label>&nbsp;
                            <span>{$user.bairro}</span>
                        </div>
                        <div class="row">
                            <label><b>Cidade: </b></label>&nbsp;
                            <span>{$user.cidade}</span>
                            <span class="offset-2"></span>
                            <label><b>Pais: </b></label>&nbsp;
                            <span>{$user.pais}</span>
                        </div>
                        <hr/>
                        <div class="row">
                            <label><b>Celular: </b></label>&nbsp;
                            <span>{$user.celular} </span>
                            <span class="offset-2"></span>
                            <label><b>Telefone: </b></label>&nbsp;
                            <span>{$user.telefone} </span>
                        </div>
                        <div class="row">
                            <label><b>E-mail: </b></label>&nbsp;
                            <span>{$user.email} </span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-footer">
                <div class="float-left">
                <a class="btn btn-danger" href="/user/other_courses" title="Voltar"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Voltar </a>
                <button class="btn btn-md btn-success" type="submit"><i class="fa fa-plus-circle" aria-hidden="true"></i> Registrar Foto</button>
                </div>
                <div class="float-right">
                    <a class="btn btn-primary" href="/user/personal_data/update" title="Editar Perfil"> Editar Perfil <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> </a>
                    <a class="btn btn-danger" data-toggle="modal" data-target="#ModalExcluir" href=""><i class="fa fa-trash"></i> Excluir Cadastro</a>
                    <!-- Modal Excluir -->
                    <div class="modal fade" id="ModalExcluir" role="dialog">
                        <div class="modal-dialog modal-sm">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-body">
                                    <p><b>Deseja realmente excluir seu Registro?</b></p>
                                </div>
                                <div class="modal-footer">
                                    <a href="/curriculum/curriculum/delete"  class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Sim</a>
                                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</form>
{include="footer"}
<script>
    var carregarImagem = function(){
        var reader = new FileReader();
        reader.onload = function(){

            var output = document.getElementById('nova_imagem');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    };
</script>