{include="header"}
{include="navbar"}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        {if="$user.nome_social_uso == 'Sim'"}
        <h2>{$user.nome_social}</h2>
        {else}
        <h2>{$user.primeiro_nome} {$user.sobrenome}</h2>
        {/if}
    </div>

<form action="/curriculum/personal_data/photo" method="post" enctype="multipart/form-data">
<section class="container col-md-10">
<div class="alert_message">
    {function="flash()"}
</div>
<div  class="card" style="color: black;">
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <label for="foto_usuario" class="user_photo" data-toggle="tooltip" data-placement="bottom" title="Clique aqui e escolha sua Foto. Gentileza usar foto com fundo Branco">
                    {if="$user.foto_usuario != NULL"}
                      <img class="img-circle card-img-overlay" src="{$user.foto_usuario}" id="nova_imagem" alt="Photo">
                     {else}
                        {if="$user.genero == 'Masculino'"}
                        <img class="img-circle card-img-overlay" src="/views/assets/images/user/masculino.jpg" id="nova_imagem" alt="Photo">
                        {elseif="$user.genero == 'Feminino'"}
                        <img class="img-circle card-img-overlay" src="/views/assets/images/user/feminino.jpg"  id="nova_imagem" alt="Photo">
                        {/if}
                    {/if}
                </label>
                <input type="file" name="foto_usuario" id="foto_usuario" onchange="carregarImagem(event)"/>
            </div>
            <div class="col-4">
                <h5><b>Dados Pessoais</b></h5>
                    <label><b>Sexo: </b></label>&nbsp;
                    <span>{$user.genero}</span>
                <br>
                    <label><b>Cor/Raça: </b></label>&nbsp;
                    <span>{$user.cor_raca}</span>
                <br>
                    <label><b>Data de Nascimento: </b></label>&nbsp;
                    <span>{function="formatDate($user.nascimento)"}</span>
                <br>
                    <label><b>Naturalidade: </b></label>&nbsp;
                    <span>{$user.naturalidade}/{$user.uf_naturalidade} </span>
                <br>
                    <label><b>Nacionalidade: </b></label>&nbsp;
                    <span>{$user.nacionalidade} </span>
                <br>
            </div>
            <!-- Coluna 3 -->
            <div class="col-5">
                <h5><b>Contato</b></h5>
                <br>
                    <label><b>Rua/Av: </b></label>&nbsp;
                    <span>{$user.endereco}</span>
                    <span class="offset-1"></span>
                    <label><b>Nº: </b></label>&nbsp;
                    <span>{$user.numero}</span>
                <br>
                    <label><b>CEP: </b></label>&nbsp;
                    <span>{$user.cep}</span>
                <br>
                    <label><b>Bairro: </b></label>&nbsp;
                    <span>{$user.bairro}</span>
                <br>
                    <label><b>Cidade: </b></label>&nbsp;
                    <span>{$user.cidade}</span>
                    <span class="offset-2"></span>
                    <label><b>Pais: </b></label>&nbsp;
                    <span>{$user.pais}</span>
                <br>
                <hr/>
                    <label><b>Celular: </b></label>&nbsp;
                    <span>{$user.celular} </span>
                <br>
                    {if="$user.telefone != NULL"}
                    <label><b>Telefone: </b></label>&nbsp;
                    <span>{$user.telefone} </span>
                    {/if}
                <br>
                    <label><b>E-mail: </b></label>&nbsp;
                    <span>{$user.email} </span>
             </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="float-left">
            <button class="btn btn-md btn-success" type="submit"><i class="fa fa-plus-circle" aria-hidden="true"></i> Registrar Foto</button>
        </div>
        <div class="float-right">
            <a class="btn btn-primary" href="/user/personal_data/update" title="Editar Perfil"> Editar Perfil <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> </a>
            <a class="btn btn-danger" data-toggle="modal" data-target="#ModalExcluir" href=""><i class="fa fa-trash"></i> Excluir Cadastro</a>
        </div>
    </div>
</div>
</section>
</form>
</div>
</main>
<!-- Modal Excluir -->
<div class="modal fade" id="ModalExcluir" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body text-center">
                <p><b>Deseja realmente excluir seu Registro?</b></p>
                <p><b>Voce será redirecionado para a Tela Inicial</b></p>
            </div>
            <div class="modal-footer">
                <form class="form" action="/curriculum/curriculum/delete" method="post">
                    <button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Sim</button>
                </form>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
{include="footer"}
<script>

    document.querySelector('.user_photo').addEventListener('mouseover',() => {
        document.querySelector('.user_photo').style.cursor = 'pointer';
    });

    var carregarImagem = function(){
        var reader = new FileReader();
        reader.onload = function(){

            var output = document.getElementById('nova_imagem');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    };
</script>