{include="header"}
{include="navebar"}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h4 class="h2">Idiomas</h4>
    </div>

<div class="alert_message">
    {function="flash()"}
</div>

<div  class="card border-success">
    <div class="row">
        <div class="col">
            {include="table_professional"}
            <div class="card-footer">
                <a class="btn btn-danger" href="/user" title="Anterior"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Início </a>
                <div class="float-right">
                    <a class="btn btn-primary" href="/user/professional_experience/create" title="Adicionar Curso"><i class="fa fa-plus-circle" aria-hidden="true"></i> Adicionar Nova Experiência Porfissional </a>
                </div>
            </div>
        </div>
    </div>
</div>
{include="footer"}




