{if="$courses"}
<div class="card border-success">
<table class="table table-striped border-success">
        <thead>
        <tr>
            <th >Cursos</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {loop="$courses"}
        <tr>
            <td>{$value.nome_curso}</td>
            <td class="float-right">
                <a href="/user/{$value.id_cursos}/other_courses/detail" class="btn btn-secondary btn-sm"><i class="fa fa-edit"></i> Detalhar</a>
                <a href="/user/{$value.id_cursos}/other_courses/update" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> Editar</a>
                <a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#ModalExcluir" href=""><i class="fa fa-trash"></i> Excluir</a>
                <!-- Modal Excluir -->
                <div class="modal fade" id="ModalExcluir" role="dialog">
                    <div class="modal-dialog modal-sm">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-body">
                                <p><b>Deseja realmente excluir este Curso?</b></p>
                            </div>
                            <div class="modal-footer">
                                <a href="/curriculum/{$value.id_cursos}/other_courses/delete"  class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Sim</a>
                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>

        {/loop}
        </tbody>
    </table>
</div>
{else}
<div  class="alert alert-danger">
    <h5>Nenhum curso cadastrato</h5>
</div>
{/if}
