{include="navebar"}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h4 class="h2">Atualização - Contato</h4>
    </div>

<div class="alert_message">
    {function="flash()"}
</div>
<form class="form" action="/curriculum/contact/update" method="post" autocomplete="off">
    <div class="card border-success ">
        <div class="card-body">
            <div class="row">
                <!-- Coluna 1 -->
                <div class="col">
                    <!-- Linha 1 -->
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="cep"><strong class="obrigatorio">*</strong><b>CEP</b></label>
                            <input type="text" class="form-control form-control-sm" id="cep" name="cep" value="{$user.cep}" onkeypress="formatar('##.###-###',this)"  maxlength="10" autofocus required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="endereco"><strong class="obrigatorio">*</strong><b>Endereço</b></label>
                            <input type="text" class="form-control form-control-sm" id="endereco" name="endereco" value="{$user.endereco}" required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="numero"><strong class="obrigatorio">*</strong><b>Nº</b></label>
                            <input type="text" class="form-control form-control-sm" id="numero" name="numero" value="{$user.numero}" required>
                        </div>
                    </div>
                    <!-- Linha 2 -->
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="bairro"><strong class="obrigatorio">*</strong><b>Bairro</b></label>
                            <input type="text" class="form-control form-control-sm" id="bairro" name="bairro" value="{$user.bairro}" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="cidade"><strong class="obrigatorio">*</strong><b>Cidade</b></label>
                            <input type="text" class="form-control form-control-sm" id="cidade" name="cidade" value="{$user.cidade}" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="estado"><strong class="obrigatorio">*</strong><b>Estado</b></label>
                            <input type="text" class="form-control form-control-sm" id="estado" name="estado" value="{$user.estado}" required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="pais"><strong class="obrigatorio">*</strong><b>País</b></label>
                            <select class="form-control form-control-sm" name="pais" id="pais" required>
                                <option value="{$user.pais}">{$user.pais}</option>
                                {loop="$countries"}
                                <option value="{$value.nome_pais_pt}">{$value.nome_pais_pt}</option>
                                {/loop}
                            </select>
                        </div>

                    </div>
                    <!-- Linha 3 -->
                    <hr>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label  for="celular"><strong class="obrigatorio">*</strong><b>Celular</b></label>
                            <input type="text" class="form-control form-control-sm" id="celular" name="celular"  value="{$user.celular}" onkeypress="formatar('##-#####-####',this)"  maxlength="13" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label  for="telefone"><b>Telefone Fixo</b></label>
                            <input type="text" class="form-control form-control-sm" name="telefone" id="telefone" value="{$user.telefone}" placeholder="Ex: 00-00000-0000" onkeypress="formatar('##-####-####',this)"  maxlength="12" >
                        </div>
                    </div>
                    <div class="row">
                        <div id="upemail" class="form-group col-md-6">
                            <label for="upemail">
                                <strong class="obrigatorio">*</strong><b>E-mail</b>&nbsp;&nbsp; <strong id="mesmeail" class="error-disabled" >E-mail inválido!!!</strong>
                            </label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" ><i class="fa fa-user" aria-hidden="true"></i></span>
                                </div>
                                <input type="email" class="form-control form-control-sm" value="{$user.c_email}" id="campo_email"  name="c_email"  autofocus>
                            </div>
                        </div>
                    </div>
                </div>

           </div>
        </div>
        <div class="card-footer">
            <a class="btn btn-danger float-left" href="/user/personal_data/update" title="Anterior"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Anterior </a>
            <div class="float-right">
                <button class="btn btn-md btn-success"><i class="fa fa-edit"></i> Atualizar Contato</button>
                <a class="btn btn-primary" href="/user/deficiency/update" title="Próximo"> Próximo <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> </a>
            </div>
        </div>

    </div>
    </form>


