{include="header"}
<main role="main">
    <div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-3 pb-0 mb-3">
        <h4 class="text-center">Busca de Curriculos</h4>
    </div>
    <section class="container col-md-6">
        <div class="alert alert-danger">
            <h4 class="text-center">Nenhum curriculo encontrado! :(</h4>
            <div class="text-center">
            <a class="btn btn-danger" href="/search/curriculum " title="Voltar a busca"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Voltar a busca</a>
            </div>
        </div>
    </section>
</main>
{include="footer"}

