<footer class="web_footer mt-auto">
    <p class="brand"><strong> {#site("name_complete")#}</strong> Todos os direitos reservados. </p>
    <p>
        <a class="link_footer" href="/">Ínicio</a>
        <span class="offset-1"></span>
        <a class="link_footer" href="#">Sobre nós</a>
        <span class="offset-1"></span>
        <a class="link_footer" href="#">Contato</a>
    </p>
    <p class="text-muted"><b>Versão</b> {#site("version")#},  &copy; {#site("name_complete")#} {function="date('Y')"}</p>
</footer>

<script  src={function="asset("js/scripts.min.js")"} > </script>
<script  src={function="asset("bootstrap4/dist/js/bootstrap.min.js")"} > </script>
<script  src={function="asset("js/form.js")"} > </script>

</body>
</html>