<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <br>
            <a class="brand" href="/"><img src="/views/assets/images/logo_brand.png" alt=""></a>
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav mr-auto link_navebar">
                <li class="nav-item">
                    <a class="nav-link" href="/">Início</a>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <a class="btn btn-primary link_btn" href="/login" title="Login"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;&nbsp;Login&nbsp;&nbsp;</a>
            </div>
        </div>
    </nav>
</header>