{include="header"}
{include="navebar_register"}

<main role="main">
    <div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h4 class="h4"> Buscar Curriculos </h4>
    </div>
<section class="container col-md-6">
<div class="alert_message">
    {function="flash()"}
</div>
    <div class="row">
    <div class="form-group col-md-8">
            <div id="formacao">
                {include="search_formation"}
            </div>
            <div id="sexo">
                {include="search_gen"}
            </div>
            <div id="deficiencia">
                {include="search_deficiency"}
            </div>
            <div id="conhecimento">
                {include="search_knowledge"}
            </div>
            <div id="idiomas">
                {include="search_languages"}
            </div>
            <div id="selecao">
                <div  style="color: #0062cc">
                    <h4 class="text-center"><b>Selecione um filtro para a busca</b></h4>
                </div>
            </div>

    </div>
    <div class="form-group col-md-4">
        <select class="form-control custom-select search" id="filtro">
            <option value="">Selecione</option>
            <option value="Conhecimento">Area de Conhecimento</option>
            <option value="Formação">Formação Acadêmica</option>
            <option value="Idioma">Idioma</option>
            <option value="Sexo">Sexo</option>
            <option value="PCD">PCD</option>
        </select>
    </div>
    </div>
</section>
<section class="container col-md-6">
    {include="results_search"}
</section>
</main>
{include="footer"}