{include="header"}
{include="navbar"}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <section class="container col-md-12">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h4 class="h2">Solicitações</h4>
        </div>
        <div class="alert_message">
            {function="flash()"}
        </div>
        {if="$requests"}
        <div class="card">
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Usuário Solicitante</th>
                        <th>Assunto</th>
                        <th>Situação</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    {loop="$requests"}
                        <tr>
                            <td>{$value.primeiro_nome} {$value.sobrenome}</td>
                            <td>{$value.assunto}</td>
                            <td>{$value.situacao}</td>
                            <td>
                                {if="daysDates($value.dtregistro) == 2 && $value.situacao == 'pendente'"}
                                <b style="color: orange"> Atenção!! Solicitação vence hoje!</b>
                                {elseif="daysDates($value.dtregistro) > 2 && $value.situacao == 'pendente'"}
                                   <b style="color: red"> SOLICITAÇÃO VENCIDA A {function="lateDays($value.dtregistro)"} DIAS!!!</b>
                                {/if}
                            </td>
                            <td class="float-right">
                                <a href="/admin/{$value.id_solicitacoes}/requests/detail" class="btn btn-secondary btn-sm"><i class="fa fa-edit"></i> Detalhar</a>
                            </td>
                        </tr>
                    {/loop}
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <ul class="pagination justify-content-end">
                    {loop="$pages"}
                    <li  class="page-item"><a class="page-link" href="{$value.href}">{$value.text}</a></li>
                    {/loop}
                </ul>
            </div>
        </div>
        {/if}
    </section>
</main>
{include="footer"}




