<!-- Lista de Usuario -->
{if="$users"}
<div class="card">
<div class="card-body">
<table class="table table-striped border-success">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Sexo</th>
            <th>Naturalidade</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {loop="$users"}
        <form class="form" action="/admin/userResetPassword/{$value.id_usuario}" method="post" autocomplete="off">
        <tr>
            <td>{$value.primeiro_nome} {$value.sobrenome}</td>
            <td>{$value.genero}</td>
            <td>{$value.naturalidade}/{$value.uf_naturalidade}</td>
            <td class="float-right">
                <a href="/admin/{$value.id_usuario}/detail" class="btn btn-secondary btn-sm"><i class="fa fa-edit"></i> Detalhar</a>
                <button class="btn btn-primary btn-sm"><i class="fa fa-refresh"></i> Resetar Senha</button>
                <input type="hidden" name="email" value="{$value.email}">
                <a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#ModalExcluir" href=""><i class="fa fa-trash"></i> Excluir</a>
                <!-- Modal Excluir -->
                <div class="modal fade" id="ModalExcluir" role="dialog">
                    <div class="modal-dialog modal-sm">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-body">
                                <p><b>Deseja realmente excluir este Idioma?</b></p>
                            </div>
                            <div class="modal-footer">
                                <a href="/curriculum/{$value.id_idiomac}/languages/delete"  class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Sim</a>
                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </form>
        {/loop}
        </tbody>
    </table>
</div>
<div class="card-footer">
    <ul class="pagination justify-content-end">
        {loop="$pages"}
        <li  class="page-item"><a class="page-link" href="{$value.href}">{$value.text}</a></li>
        {/loop}
    </ul>
</div>
</div>
{/if}